/* Colors */
@define-color bg #101419;
@define-color bg2 #282c34;
@define-color bg3 #545862;
@define-color fg #abb2bf;
@define-color red #e55561;
@define-color green #8ebd6b;
@define-color yellow #e2b86b;
@define-color blue #4fa6ed;
@define-color purple #bf68d9;
@define-color cyan #48b0bd;

/* Reset all styles */
* {
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 14px;
    border-radius: 0;
    border: none;
}
tooltip {
  background: @bg;
}

window#waybar {
   /* background-color: rgba(16, 20, 25,0.5); */
    background-color: @bg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button:hover {
    background-color: @bg2;
}


#workspaces button {
    min-width: 20px;
    color: @fg;
    padding: 0 5px;
}


#workspaces button.focused {
    color: @fg;
    background-color: @bg2;
}

#workspaces button.urgent {
    color: @fg;
    background-color: @bg2;
}

#mode {
    background-color: @purple;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#pulseaudio#mic,
#custom-swayidle,
#mode {
    padding: 0 6px;
}


#window {
    color: @fg;
    padding: 0 10px;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#clock {
    color: @purple;
    padding: 0 10px;
    border-radius: 0px;
}

#battery {
    color: @fg;
}

#battery.charging, #battery.plugged {
    color: @fg;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @fg;
}

#memory {
    color: @fg;
}

#network {
    color: @fg;
    padding-left: 10px;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @fg;
}

#pulseaudio.muted {
    color: @bg3;
}

#pulseaudio.mic {
  color: @fg;
}

#custom-swayidle {
    color: @fg;
}

#tray {
    padding: 0 6px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#scratchpad {
    color: @fg;
    padding: 0 10px;
}

#scratchpad.empty {
	background-color: transparent;
}

