/* -----------------------------------------------------
 *                      General
 * ----------------------------------------------------- */
/* Colors */
@import "colors/gruvbox.css";

* {
    font-family: JetBrains Mono, Symbols Nerd Font,sans-serif;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

/* -----------------------------------------------------
 *                      Tooltip
 * ----------------------------------------------------- */

tooltip {
  color: @fg;
  background: @bg;
  border: solid 2px @bg2;
  border-radius: 4px;
}

/* -----------------------------------------------------
 *                      Window
 * ----------------------------------------------------- */

window#waybar {
   /* background-color: rgba(16, 20, 25,0.5); */
    background-color: @bg;

}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    color: @fg;
    padding: 0 10px;
}

/* -----------------------------------------------------
 *                  Workspaces
 * ----------------------------------------------------- */

#workspaces {
  background-color: @bg;
  padding: 0 10px;

}

#workspaces button {
    min-width: 20px;
    color: @bg4;
    padding: 0 6px;
}

#workspaces button.focused {
    color: @blue;
    background-color: @bg2;
}

#workspaces button.urgent {
    color: @purple;
    background-color: @bg;
}

#workspaces button:hover {
    background-color: @bg2;

}

/* -----------------------------------------------------
 *                      Modules
 * ----------------------------------------------------- */

#battery,
#cpu,
#memory,
#pulseaudio,
#pulseaudio.muted,
#pulseaudio.mic {
    color: @fg;
    padding: 0 6px;
}

#network {
    color: @fg;
    padding: 0px 6px 0px 10px;
}

#network.disconnected {
    color: @red;
}

#clock {
    color: @blue;
    padding: 0 10px;
    font-size: 16px;
}

#mode {
    color: @bg;
    background-color: @yellow;
    margin: 0 3px;
    padding: 0 6px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery {
    color: @fg;

}

#battery.charging, #battery.plugged {
    color: @fg;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 *                      Custom
 * ----------------------------------------------------- */
#custom-swayidle {
    padding: 0 6px;
}

#custom-useless {
    color: @fg;
    padding-left: 10px;
}

#custom-swayidle {
    color: @fg;
}

#custom-weather {
    color: @fg;
    padding-left: 10px;
}

#custom-power {
    color: @fg2;
    padding-right: 10px;
}

#custom-sep,
#custom-sep2,
#custom-sep3 {
    color: @fg2;
}
