/* Colors */
@define-color bg #101419;
@define-color bg2 #282c34;
@define-color bg3 #535965;
@define-color fg #abb2bf;
@define-color red #e55561;
@define-color green #8ebd6b;
@define-color yellow #e2b86b;
@define-color blue #4fa6ed;
@define-color purple #bf68d9;
@define-color cyan #48b0bd;


/* Reset all styles */
* {
    font-family: Jetbrains Mono, Symbols Nerd Font;
    font-size: 14px;
    border-radius: 0;
    border: none;
}
tooltip {
  background: @bg;
}

window#waybar {
    background-color: @bg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button:hover {
    background-color: @bg2;
}


#workspaces button {
    padding: 0 5px;
    color: @fg;
    background-color: @bg;
    margin: 1px 0px;
}


#workspaces button.focused {
    color: @bg;
    background-color: @purple;
    margin: 1px 0px;
}

#workspaces button.urgent {
    color: @fg;
    background-color: @bg2;
}

#mode {
    background-color: @purple;
    color: @bg;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-swayidle,
#mode,
#scratchpad {
    padding: 0 6px;
}

#tray {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @purple;
    padding: 0 10px;
    border-radius: 0px;
}

#battery {
    color: @fg;
}

#battery.charging, #battery.plugged {
    color: @fg;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @bg;
}

#cpu {
    color: @fg;
}

#memory {
    color: @fg;
}


#network {
    color: @fg;
    padding-left: 10px;
}

#network.disconnected {
    color: @red;
}


#pulseaudio {
    color: @fg;
}
#custom-swayidle {
    color: @bg;
    background-color: @purple;
    margin: 1 3px;

}

#pulseaudio.muted {
    color: @bg3;
}

#pulseaudio.mic {
  color: @fg;
}

#pulseaudio.mic.source-muted {
  color: @bg3;
}


#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}


#scratchpad {
    color: @fg;
    background-color: @bg2;
    border-radius: 0px;
    margin: 1px 0px;
}

#scratchpad.empty {
	background-color: transparent;
}

