[Desktop Entry]
Name=WebCord
Comment=A Discord and Fosscord client made with the Electron API
GenericName=Internet Messenger
Exec=webcord --ozone-platform=wayland 
Icon=webcord
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;

